<%= yield :before_sidebar %>
<section class="sidebar">
  <nav>
    <ul>
      <li class="meetings active">
        <%= link_to image_tag( "date-ic.png", :alt => "Meetings" ) + raw("<br />Meetings"), 'meetings' %>
      </li>
      <li class="people">
        <%= link_to image_tag( "people-ic.png", :alt => "People" ) + raw("<br />People"), 'people' %>
      </li>
    </ul>
  </nav>

  <div class="meetings-tab tab">

    <%= link_to image_tag("plus.png", :alt => "+" ) + "Create Meeting", new_meeting_path, :class => 'new new-meeting' %>

    <ul class="items">
      <% get_meetings_to_display.each do |meeting| %>
        <li>
          <strong><%= meeting.name %></strong>
        </li>
      <% end %>
    </ul>

  </div>

  <div class="people-tab tab">
    <%= link_to image_tag("plus.png", :alt => "+" ) + "Add Person", new_user_path, :class => 'new new-person' %>

    <ul class="items people">
      <% get_attendees_to_display.each do |att| %>
        <% if att.name? %>
          <li>
            <% if att.email? %>
              <img src=<%= Gravatar.new(att.email).image_url %> alt="Name" class="avatar" />
            <% end %>
            <strong><%= att.name %></strong>
            Hourly rate: <%= number_to_currency( att.hourly_rate, :unit => '$' ) %>
            <input type="checkbox" value="<%= att.id %>" name="attendees" />
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>

</section>