<header>
  <h1>Add a new user</h1>
</header>

<div class="content">
    <%= form_tag(create_user_without_usermodel_path) do %>
           
      <div class="half">
        <%= label_tag(:name, "Name: ") %>
        <%= text_field_tag(:name ) %>
      </div>

      <div class="half last">
        <%= label_tag(:email, "Email: ") %>
        <%= text_field_tag(:email ) %>
      </div>

      <div class="half">
        <%= label_tag(:title, "Title: ") %>
        <%= text_field_tag(:title ) %>
      </div>

      <div class="half last">
        <%= label_tag(:hourly_rate, "Hourly Rate: (Dollars) ") %>
        <%= text_field_tag(:hourly_rate ) %>
      </div>

      <p>
        <%= submit_tag("Submit") %>
      </p>

    <% end %>
</div>