<header>
  <h1><%= @attendee.email %></h1>
</header>

<div class="content">
  <article class="bubble">
    <p>
      Name: <%= @attendee.name if @attendee  %>
    </p>

    <p>
      Job Title: <%= @attendee.position if @attendee  %>
    </p>

    <p>
      Hourly Rate: <%= number_to_currency(@attendee.hourly_rate , :unit => "$")if @attendee  %>
    </p>

    <p>
      <%= link_to "Edit Information", edit_user_path(@user) %>
    </p>

  </article>
</div>