<% content_for :before_sidebar do %>
  <%= form_for(create_meeting_path) do %>
<% end %>


<header>
  <h1>Create a new meeting</h1>
</header>

<div class="content">
    
           
      <div class="half">
        <%= label_tag(:title, "Meeting title: ") %>
        <%= text_field_tag(:title ) %>
      </div>

      <div class="half last">
        <%= label_tag(:date, "Date: ") %>
        <%= text_field_tag(:date ) %>
      </div>

      <div class="half">
        <%= label_tag(:start_time, "Start time: ") %>
        <%= text_field_tag(:start_time ) %>
      </div>

      <div class="half last">
        <%= label_tag(:end_time, "End time: ") %>
        <%= text_field_tag(:end_time ) %>
      </div>

      <div>
        <%= label_tag(:location, "Location: ") %>
        <%= text_field_tag(:location ) %>
      </div>

      <div>
        <%= label_tag(:agenda, "Agenda: ") %>
        <%= text_area_tag(:agenda ) %>
      </div>

      <p>
        <%= submit_tag("Submit") %>
      </p>

    <% end %>
</div>
