<header>
  <h1><%= @meeting.title %></h1>
</header>

<div class="content">
  <article class="bubble">
    <p>
      Date: <%= @meeting.date %>
    </p>
    <p>
      Start time: <%= @meeting.start_time.strftime("%H:%M %P") %>
    </p>
    <p>
      End time: <%= @meeting.end_time.strftime("%H:%M %P") %>
    </p>
    <p>
      Location: <%= @meeting.location %>
    </p>
    <p>
      Agenda: <%= @meeting.agenda %>
    </p>

    
    <p>
      Attendees:
      <% if @meeting.attendees.count > 0 %>
      <ul>
        <% @meeting.attendees.each do |a| %>
          <li>
            <%= link_to a.name, attendee_path(a) %>
          </li>
        <% end %>
      </ul>
      <% else %>
        Nobody is registered to attend.
      <% end %>
    </p>

    <p>
      <%= link_to "Edit Information", edit_meeting_path(@meeting) %>
    </p>

  </article>
</div>