<header>
  <h1><%= @meeting.title %></h1>
  <p><%= @meeting.date %> at <%= @meeting.start_time.strftime("%H:%M %P") %><br />
  <%= @meeting.location %></p>
</header>

<div class="content">
    <%#= @meeting.end_time.strftime("%H:%M %P") %>
    
    <article class="bubble">
        <%= image_tag "cash-bg.png", :alt => "", :class => "bg-img cash-bg" %>
        <h2>This will meeting will cost your company:</h2>
        <p class="big-text high">$125,385</p>
    </article>
    
    <article class="text-block">
        <h2>Agenda</h2>
        <p><%= @meeting.agenda %></p>
    </article>
    
    <article class="bubble">
    <h2>Attendees</h2>
      <% if @meeting.attendees.count > 0 %>
      <ul class="people-list">
        <% @meeting.attendees.each do |a| %>
          <li>
            <%= link_to a.name, '#' %>
          </li>
        <% end %>
      </ul>
      <% else %>
        Nobody is registered to attend.
      <% end %>
    </article>
    
    <p><%= link_to "Edit meeting details", edit_meeting_path(@meeting) %></p>
</div>