<!DOCTYPE html>
<html>
<head>
  <title>MeeterApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="home">
  <div class="wrap">
    <header class="primary">
      <h1 class="logo">
        <%= link_to image_tag( "logo.png", :alt => "MeeterApp" ), '#' %>
      </h1>
      <nav>
        <ul
          <% if current_user %>
            <li><%= link_to "Settings", "#" %></li>
            <li><%= link_to "Logout", "#" %></li>
          <% else %>
            <li><%= link_to "Login", new_user_session_path %></li>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <% end %>
        </ul>
      </nav>
    </header>

    <% if current_user %>
      <section class="sidebar">
        <nav>
          <ul>
            <li class="meetings active">
              <%= link_to image_tag( "date-ic.png", :alt => "Meetings" ), '#Meetings' %>
            </li>
            <li class="people">
              <%= link_to image_tag( "people-ic.png", :alt => "People" ), '#People' %>
            </li>
          </ul>
        </nav>
      </section>


      <%= yield %>


    <% else %>
      <%= link_to "Sign Up", new_user_registration_path %> or <%= link_to "Sign In", new_user_session_path %>
    <% end %>

  </div>

</body>
</html>
