<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>MeeterApp - RIT 48 - Sawyer Hollenshead and Ed Mackowiak</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="home <%=body_classes.join(' ')%>">
  <div class="wrap">
    
    <%= render :partial => "shared/header" %>

    <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
    <% end %>

    <% if current_user %>
      
      <%= render :partial => "shared/sidebar" %>

    <% else # no curent user %>
    <% end %>
    
    <%= yield :before_page %>
    <section class="page">
      <%= yield %>
    </section>
    
    <div class="clearfix"></div>
    
    <footer class="primary">
        Made by <a href="http://twitter.com/sawyerh">Sawyer Hollenshead</a> and <a href="http://twitter.com/edmackowiak">Ed Mackowiak</a> (in less than 48 hours).
    </footer>
  </div>
  
  <div class="modal-bg"></div>
  <div class="modal" id="modal">
      <div class="modal-body">
        <p>One fine body</p>
      </div>
      <div class="modal-footer">
        <a class="submit-form button">Submit</a>
        <a class="close button" data-dismiss="modal">Cancel</a>
      </div>
  </div>

  <% if Rails.env.development?%>
      
    <div><%= debug(params) %></div> 

  <% end %>


</body>
</html>
